.App-container {
   width: 100%;
   height: 100%;
}

.socialMediaLinks {
   float: right;
   padding: 10px 10px 0 0;
   font-size: 2vw;
}

.socialMediaLinks a  {
   margin: 0 4px 0 4px;
}

.socialMediaLinks .linkedIn   {
   color: #0076b3;
}

.socialMediaLinks .linkedIn:hover   {
   color: #00476c;
}

.socialMediaLinks .pinterest  {
   color: #e6001a;
}

.socialMediaLinks .pinterest:hover  {
   color: #82000f;
}

.socialMediaLinks .instagram  {
   color: black;
}

.socialMediaLinks .instagram:hover  {
   color: hotpink;
}

.titleBox {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 7vw;
}

.titleBox .display {
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 3.5vw;
   font-weight: lighter;
}

.display-menu  {
   float: left;
   margin: 5px 0 0 5px;
   padding: 0;
   font-size: 1.5vw;
   font-weight: lighter;
   color: black;
   cursor: pointer;
}

.display-menu:hover  {
   cursor: pointer;
   color: blue;
}

.img {
   width: 20vw;
   height: 20vw;
   border-radius: 8px;
   border: 3px solid black;
}

.introTitle {
   text-align: left;
}

div.row  {
   width: 100%;
   padding-left: 8.2vw;
}

.column  {
   padding: 10px;
}

.row .column .lead {
   font-size: 1.2vw;
   text-align: center;
   margin: 2px 0 0 0;
   padding: 0;
   font-weight: bold;
}

.display-2  {
   text-align: center;
}

.jumbotron  {
   width: 90%;
   margin: 0.75vw 0 0 5%;
}

.jumbotron .lead  {
   font-size: 1.5vw;
   font-weight: bold;
}

.jumbotron button {
   width: 30%;
   font-size: 1.1vw;
   padding: 8px 8px 8px 1vw;
   margin: 0;
   text-align: left;
}

.recipeCard p  {
   margin: 5px;
   padding: 6px 3px 20px 3px;
   line-height: 1.5vw;
}

.jumbotron #research .researchHeader   {
   margin: 0;
   padding: 0 0 8px 0;
   font-size: 1.3vw;
}

.jumbotron #research button   {
   text-decoration: none;
}

.recipeCard .recipeCardBody h2 {
   margin: 2vw 0 2vw 0;
   padding: 0;
   float: left;
}

.recipeCard .recipeCardBody h4 {
   margin: 2vw 3vw 0 0;
   padding: 0;
   float: right;
}

.jumbotron #recipe .recipeCardBody table {
   font-size: 1.1vw;
   margin-top: 3vw;
}

.jumbotron #recipe .recipeCardBody table th {
   font-weight: bolder;
}

.jumbotron #recipe .recipeCardBody table tr td {
   border: 1px solid rgba(166, 166, 166, 0.49);
   border-radius: 10px;

}

.my-2 {
   border: 1px solid black;
}

.reflectionHeader {
   margin: 0;
   padding: 0 0 8px 0;
   font-size: 1.3vw; 
}

.jumbotron .recipeCard .row   {
   padding: 0;
   margin: 0 0 1vw 8px;
}

.jumbotron #reflection .row .col .cardImg  {
   width: 100%;
   padding: 0;
}

label {
   font-weight: bold;
}


/* Styling added for/during week 4*/
#Week-4 .recipeCard .prepListImg {
   width: 60%;
   margin-left: 5px;
}

.jumbotron #reflection2 .row .col .cardImg {
   width: 100%;
   padding: 0;
}

.jumbotron #reflection2 #wk4-img1   {
   height: 25vw;
}

.jumbotron #reflection2 #wk4-img2   {
   height: 25vw;
}

.jumbotron #reflection2 .row .col #wk4-img4   {
   height: 30vw;
}

.jumbotron #reflection2 #wk4-img5   {
   height: 30vw;
}

/* Styling for week 5 */
.jumbotron #reflection5 .row .col .cardImg   {
   width: 75%;
   height: 30vw;
   padding: 0;
}

.jumbotron #reflection5 .row .col .cardImgWk5   {
   width: 95%;
   height: 30vw;
   padding: 0;
}

.jumbotron #reflection5 .row .col .cardImgWk5Unique   {
   width: 100%;
   margin: 0;
   padding: 0;
}

/* Styling for week 6 */
.jumbotron #reflectionWeek6 .row .col .cardImg  {
   width: 100%;
   padding: 0;
}

.jumbotron #reflectionWeek6 .row .col .cardImgWeek6  {
   width: 60%;
   padding: 0;
}

/* Styling for week 7 */
.jumbotron #prepListWeek7 .prepListImg {
   width: 80%;
}